// src/scss/base/_reset.scss
// 공통 스타일

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  z-index: 5;

  .nav-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap: 60px 60px 5px;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .nav-logo {
    width: 20%;
  }

  .nav-button {
    width: 10%;
  }

  .nav-logo .menu-logo a {
    height: 60px;

    img {
      height: 3rem;
    }
  }

  .nav-menu {
    width: 60%;

    ul.menu-link {
      width: 100%;
      display: flex;
      justify-content: center;

      > li > a {
        color: #2F2521;
        position: relative;
        display: inline-block;
        margin: 0 60px;
        font-size: 0.9rem;
      }
    }
  }

  ul.menu-link > li > a {
    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2F2521;
      transform: scaleX(0);
      transform-origin: 100% 0;

      /* transform-origin: 0 0; */
      transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }
  }
}

.nav-login-register {
  width: 10%;

  .login-register-link {
    display: flex;
    justify-content: space-around;
    text-align: right;

    > li > a {
      display: inline-block;
      font-size: 0.9rem;
      color: #58463f;

      &:after {
        content: "";
        position: relative;
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #58463f;
        transform: scaleX(0);
        transform-origin: 100% 0;

        /* transform-origin: 0 0; */
        transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0 0;
        transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
      }
    }
  }
}

.nav-button {
  text-align: right;
  height: 5rem;

  .btn-container {
    width: 8rem;
    height: 2.5rem;
    border-radius: 20px;
    background: #2F2521;
    display: inline-block;
    margin-top: 1.25rem;
    cursor: pointer;
    z-index: 9;
    position: relative;
  }
}

.nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;

  .txt {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 2.3rem;
    text-align: center;
    right: 1rem;
    color: #FCF6EC;
  }

  &::before {
    content: "";
    display: block;
    width: 7.8rem;
    height: 2.3rem;
    border-radius: 30px;
    background: #FCF6EC;
    position: absolute;
    top: 0rem;
    left: 8rem;
    transition: linear 0.4s;
    z-index: 1;
  }
}

.btn-container:hover {
  .btn::before {
    left: 0;
  }

  .txt {
    color: #2F2521;
    font-weight: bold;
    transition: linear 0.5s;
  }
}

.nav-container .btn {
  .txt .icon {
    width: 2.3rem;
    height: 2.3rem;
    background: #FCF6EC;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 6.5rem;
    z-index: 3;

    img {
      width: 12px;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}