// src/scss/base/_reset.scss
// 공통 스타일

// =================================
// 전역 리셋
// =================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

// =================================
// 링크 스타일 초기화
// =================================
a {
  &:link, 
  &:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

// =================================
// 리스트 스타일 초기화
// =================================
li {
  list-style-type: none;
  margin: 0;
}

// =================================
// 버튼 스타일 초기화
// =================================
button {
  all: unset;
  cursor: pointer;
}

// =================================
// 이미지 스타일 초기화
// =================================
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
