// src/scss/components/sub/_header.scss
// 서브페이지 헤더 (배너) 스타일

@use '../../base/variables' as *;

// =================================
// 서브페이지 헤더 배너
// =================================
header {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background: url("/src/assets/images/sub/subpage-3-banner1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  
  @include respond-to(lg) {
    height: 450px;
  }
  
  @include respond-to(md) {
    height: 400px;
  }
  
  @include respond-to(sm) {
    height: 300px;
  }
  
  @include respond-to(xs) {
    height: 250px;
  }

  // =================================
  // 배경 오버레이
  // =================================
  &::after {
    background: #000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  // =================================
  // 헤더 타이틀
  // =================================
  h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.8rem, 5vw, 3rem);
    text-align: center;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    @include respond-to(sm) {
      white-space: normal;
      width: 90%;
    }
  }
}
