// src/scss/main.scss
// 메인 SCSS 파일

// 베이스
@use 'base/reset';
@use 'base/typography';
@use 'base/variables';

// 공통 컴포넌트
@forward 'components/common/button';
@forward 'components/common/nav';

// 페이지별 컴포넌트 (홈페이지)
@forward 'components/home/intro';
@forward 'components/home/adopt-list';
@forward 'components/home/adopt-process';

// 페이지별 컴포넌트 (서브페이지)
@forward 'components/sub/header';
@forward 'components/sub/notice-list';
@forward 'components/sub/qna';

// 레이아웃
@use 'layout/footer';
@use 'layout/layout';


// body {
//   @include typography.body-text;
//   background-color: $color-background;
//   margin: 0;
//   padding: 0;
// }